
@media (max-width: 1000px) {
    .container{
        flex-direction: column !important;
        width: auto !important;
       padding: 30px !important;
    }
        
   }
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    background-color: #0c4a6e;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 12px 12px 14px rgb(180, 177, 177);
}
.container div p{
 color:   #eff6ff;
    font-size: 12pt;
    font-weight: bold;
}
.btns{
    /* width: 30%; */
    /* background-color:#fff; */
    display: flex;
    flex-direction: row;
}
.btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   /* width: 60px; */
   height: 30px;
   border-radius: 5px;
   background-color:#eff6ff;
   /* box-shadow: 5px 5px  14px rgb(180, 177, 177); */
  font-weight: bold;
   outline: none;
  
   border:2px solid #eff6ff ; /* border: none; */
   padding: 5px 15px;
   margin: 0 5px;
}
.complte{
    text-decoration: line-through;
    color:#ccc;
    opacity: 0.5;
}
.btn:hover{
    background-color:#0c4a6e ;
    color:#fff;
    transition: .5s;
}
.delete{
    border:2px solid #eff6ff ;
}
.delete:hover{
    border:2px solid red;
    color:red;
    transition: .5s;
    background-color: #eff6ff;
    /* background-color: #f383a9; */
}
